*{
	margin:0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "苹方";
}
body{
	background-color: #f7f7f7;
}
#register{
	width:100%;
	height: auto;	
}
#register .line{
	width: 100%;
	height: 0.03rem;
	background-image: url(../img/ldd_line.png);
}
#register .head{
	width:100%;
	height: 0.88rem;
	background-color: #fd313a;
	text-align: center;
	line-height: 1rem;
	color: #fff;
	position: relative;
}
#register .head h3{
	margin: 0 auto;
	width: 2rem;
	font-size: 0.4rem;
	font-weight: normal;
}
#register .head .cancel{
	position: absolute;
	float: left;
	font-size: 0.2rem;
	margin-left: 0.25rem;
}
#register .main{
	padding-top:0.15rem;
	width: 100%;
	height: auto;
}
#register .main .input{
	margin-top: 0.12rem;
	height: 0.74rem;
	width: 100%;
	background-color: #fff;
	position: relative;
}
#register .main input[type="text"]{
	height: 0.74rem;
	width: 100%;
	background-color: #fff;
	border: 0;
	padding-left: 0.25rem;
	float: right;
	
}
#register .main input[type="text"]:focus{
	border: none;
}
#register ::input[type="text"]-placeholder{
	font-size: 0.24rem;
	color: #b3b3b3;
}
#register .getVcode{
	font-size: 0.24rem;
	color: #b3b3b3;
	position: absolute;
	line-height: 0.74rem;
	right: 0.15rem;
}
.btn{
	width: 5.6rem;
	height: 0.65rem;
	margin: 0 auto;
	border-radius: 0.65rem;
	background: -webkit-gradient(linear, 90 0, 0 100%, from(#ff2e50), to(#fd8232)); 
	margin-top: 0.5rem;
	box-sizing:content-box;
	border:0.06rem solid #fff;
	text-align: center;
	line-height: 0.65rem;
	font-size: 0.26rem;
	color: #fff;
	position: relative;
}
.point{
	width:0.06rem;
    height: 0.06rem;
    border-radius: 50%;
    background: #fff;
    border:0.03rem solid #fd7172;
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
    box-sizing:content-box;
}
.point:first-child{
	left: 1.95rem;
}
.point:last-child{
	right: 1.95rem;
}
.quickLogin{
	width: 1.7rem;
	height: 0.35rem;
	margin:0 auto;
	margin-top: 0.25rem;
	position: relative;
}
.quickLogin a,.quickLogin .dian{
	display: block;
	float: left;
}
.quickLogin a{
	font-size: 0.22rem;
	color: #d8d8d8;
}
.quickLogin .dian{
	background-color: #fe346a;
	border-radius: 50%;
	width: 0.09rem;
	height: 0.09rem;
	position: absolute;
	top:0;
	bottom: 0;
	margin: auto;
	right: 0;
}
.footer{
	width: 100%;
	padding: 0 0.5rem;
}
.footer p{
	font-size: 0.22rem;
	color: #a9a9a9;
	position: absolute;
	bottom: 1.2rem;
}
.footer p a{
	color: #bdbdbd;
}